{% extends 'base.html' %}

{% block content %}
<h2>Books in "{{ language.name }}"</h2>
<div class="row">
    {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ book.image_url }}" class="card-img-top" alt="{{ book.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">By {{ book.author }}</p>
                <p class="card-text"><strong>₹{{ book.price }}</strong></p>
                <a href="{% url 'detail' book.id %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'add_to_cart' book.id %}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No books available in this language.</p>
    {% endfor %}
</div>
{% endblock %}
